<!DOCTYPE html>
<html>
<head>
	<title>Login Credentials</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top:20%;">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Login</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="username" class="col-sm-3 control-label">Username</label>
									<div class="col-sm-9">
										<div class="input-group">
											<span class="input-group-addon glyphicon glyphicon-user"></span>
											<input type="text" class="form-control" id="username" placeholder="ASURITE Username">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="password" class="col-sm-3 control-label">Password</label>
									<div class="col-sm-9">
										<div class="input-group">
										<span class="input-group-addon glyphicon glyphicon-lock"></span>
											<input type="password" class="form-control" id="password" placeholder="ASURITE Password">
										</div>
									</div>
								</div>
								<br>
								<br>
								<div class="form-group last">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-primary">Submit Credentials</button>
									</div>
								</div>
							</form>
						</div>
				</div>
			</div>
			</div>
		</div>
</body>
</html>